<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create</title>
</head>
<body>
    <h1>Create a new Bear</h1>
    <form action="/bears" method="post">
        <p>Name:</p> <input type="text" name="name">
        <p>Species:</p> <input type="text" name="species">
        <p>Weight</p> <input type="number" name="weight">
        <input type="submit" value="Add Bear!">
    </form>
    <a href="/">View Bears</a>
</body>
</html>