<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Edit Bear</h1> <a href="/">View Bears</a>
    <% for( var x in the_bear) { %>
    <form action="/change/<%= the_bear[x]._id %>" method="post">
        <p>Name:</p> <input type="text" name="name" value="<%= the_bear[x].name %>">
        <p>Species:</p> <input type="text" name="species" value="<%= the_bear[x].species %>">
        <p>Weight:</p> <input type="number" name="weight" value="<%= the_bear[x].weight %>">
        <% } %>
        <br>
        <input class="btn btn-primary" type="submit" value="Edit">
    </form>
</body>
</html>